# Object Methods

You may already be familiar with the notion of files, which are named storage compartments on your computer that are managed by your operating system. Your *ipynb* is a file, *txt* is a file, etc.
I suggest you turn on file extensions for Windows.

- [Tuple](#tuple)
- [Dictionary](#dictionary)
- [Object Methods](#object-methods)
    - [String Methods](#string-methods)
    - [List Methods](#list-methods)
    - [Dictionary Methods](#dictionary-methods)

In [1]:
#This bit of code allows me to output more than one variable value without using a print statement.
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# Tuple

Tuples are very similar to lists. They can be created in the following way.

In [2]:
# create a tuple
mytuple = (1,2, 's', 4)
mytuple
type(mytuple)

(1, 2, 's', 4)

tuple

In creating a tuple, we replace *[]* in a list by *()*.
A lot of operations designed for lists can be used for tuples in the same way.

In [3]:
# length
len(mytuple)
# Concatenation
(1,2) + (3,4)
# indexing
mytuple[2:]
# for loop
for x in mytuple:
    print(x)

4

(1, 2, 3, 4)

('s', 4)

1
2
s
4

The major difference is that tuples are **immutable**, meaning that once created, they cannot be changed.

In [4]:
mytuple = (1,2,3,4)
mylist = [1,2,3,4]
mylist[1] = 1
mylist
mytuple[1] = 1

[1, 1, 3, 4]

TypeError: 'tuple' object does not support item assignment

*(Exercise)*: Create a tuple `my_tuple` with 5 numbers. Print the first element, the last element, and the length of the tuple. Use `for` loop to calculate the sum of the five numbers.

## Why Tuples?

The best answer seems to be that the immutability of tuples provides some integrity -- you can be sure a tuple won't be changed through another reference elsewhere in your program. 
As a rule of thumb, lists are the tool of choice for ordered collections that might need to change; tuples can handle the other cases of fixed associations.

# Dictionary

Dictionaries are an *unordered* collection of objects. To fetch an element in a dictionary, one needs *keys*.

In [5]:
employees = {'Bob': 1234, 'Steve': 5678, 'Mike': (9012, 9003)}
print(employees['Steve'])

5678

- The dictionary consists of *key:value* pairs. 
- To access the values, simply call the keys. So keys are like the indices of the values.
- They can hold *mixed* data types.
- Different from tuples and lists: `{}` and `:`

To **remove** an element in a dictionary, we use `del` like in lists.
To add an element, we assign a value to a new key.

In [6]:
# delete
employees = {'Bob': 1234, 'Steve': 5678, 'Mike': (9012, 9003)}
del employees['Steve']
employees
# add
employees['Amy'] = 9013
employees
# inclusion
'Amy' in employees

{'Bob': 1234, 'Mike': (9012, 9003)}

{'Bob': 1234, 'Mike': (9012, 9003), 'Amy': 9013}

True

We can iterate over the keys.

In [7]:
for name in employees:
    print(name)
# alternative
for name in employees.keys():
    print(name)

Bob
Mike
Amy
Bob
Mike
Amy

One can also iterate over the values, or the key value pairs.

In [8]:
for id in employees.values():
    print(id)
for name, id in employees.items():
    print(name, id)

1234
(9012, 9003)
9013
Bob 1234
Mike (9012, 9003)
Amy 9013

In the second for loop, you can think of we are iterating the tuple *(name, id)* in the dictionary.

## Why Dictionaries?

The dictionary offers an easy way to store a database. In many cases, the order of the entries is not important, and we just want to access the entry by their keys, such as name or ID.

For example, we may want to add up the assignment marks for various students.

In [9]:
# raw data
marks = [['Bob', 50], ['Steve', 60], ['Mike', 70], ['Bob', 60], ['Steve', 65], ['Mike', 65]]
# construct an empty dictionary
mydict = {}
for pair in marks:
    name = pair[0]
    mark = pair[1]
    if name in mydict:
        mydict[name]+=mark
    else:
        mydict[name]=mark
mydict

{'Bob': 110, 'Steve': 125, 'Mike': 135}

*(Exercise)*: merge two given dictionaries into one. For example, consider
```python
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```
The expected output should be 
```python
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
```

# Object Methods

Methods are operations (or more precisely, functions) that are associated with particular objects.
  All Python objects have built in methods, which can be called with the expression *object.method(arguments)*.  To get a list of all the methods available for a specific object you can either type *dir(object)* or *help(str)* (for string).  Methods will make things a lot easier, I recommend memorizing the common ones.


## String Methods

### Replacing Characters

We can replace characters in a string using `.replace`.
In the next example,
- `myname` is the object, or name of the string
- `.replace` is the method
- `m` and `n` are the arguments.

In [10]:
# wrong name
myname = 'Nimgyuam Chem'
corrected_name = myname.replace('m', 'n')
corrected_name

'Ningyuan Chen'

*(Tips)*: very often, you may forget the arguments of a method. Using the following syntax to seek for help. Or Google "python string replace" if you have internet connection.

In [11]:
?myname.replace

Signature: myname.replace(old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      builtin_function_or_method

### Change Cases

`.lower()` and `.upper()` are used to change the cases of a string. In contrast, `.capitalize()` is used to capitalize the first letter of a string.

In [12]:
'Hello'.lower()
'Hello'.upper()

'hello'

'HELLO'

In [13]:
'hello'.capitalize()

'Hello'

### Find Characters

`.find` finds the **first** occurrence of a substring or a character.

In [14]:
mystr = 'MGT201 is great!!'
mystr.find('is') # find the index of the first occurrence of 'is'
mystr.find('!') # find the first
mystr.find('8') # not found

7

15

-1

### Split

`.split` splits a string into a list of substrings.

In [15]:
mystr = 'I went to the store.'
mystr.split('e')

['I w', 'nt to th', ' stor', '.']

### Strip

`.strip` takes away the characters on both sides.

In [16]:
mystr = '  wrapped by spaces.  '
mystr.strip(' ')
mystr.strip(' .') # can provide multiple characters

'wrapped by spaces.'

'wrapped by spaces'

We can stack the methods. For example, after stripping ".", we can split the sentence by " " to get words.

In [17]:
mystr = " I'm going to class today.  "
mystr.strip(' .').split(' ')

["I'm", 'going', 'to', 'class', 'today']

### Join
`.join` is the opposite of `.split`. It joins a list of strings into one string.

In [18]:
# example of .join()
mylist = ['I', 'went', 'to', 'the', 'store']
' '.join(mylist)

'I went to the store'

**Example**: given the string

```python
"Product1; $100; Made in China   , Product2; $200; Made in USA  ,   Product3; $150; Made in Germany, Product4; $50;  Made in India"
```

complete the following task with string methods:
1. *Extract Product Details*: Split the string into individual product details.
2. *Clean Details*: Remove any leading or trailing spaces from each product detail.
3. *Find Country of Origin*: For each product, find the starting index of "Made in".
4. *Replace Prices*: Due to inflation, increase each product's price by 10% and update the string accordingly.
5. *Display Results*: For each product, print the product name, updated price, and country of origin.

This is the expecdted output:

```python
Product1:
- Price: $110
- Made in: China

Product2:
- Price: $220
- Made in: USA

Product3:
- Price: $165
- Made in: Germany

Product4:
- Price: $55
- Made in: India

```

In [19]:
product_string = "Product1; $100; Made in China   , Product2; $200; Made in USA  ,   Product3; $150; Made in Germany, Product4; $50;  Made in India"

# Task 1: Split the string into individual product details
products = product_string.split(',')

for product in products:
    # Task 2: Remove any leading or trailing spaces from each product detail
    details = product.split(';')

    # Extracting the name, price, and origin from the cleaned details
    name = details[0].strip()
    price = details[1].strip()
    origin_index = details[2].find("Made in")
    origin = details[2][origin_index + 8:]  # Adding 8 to skip "Made in "

    # Task 4: Replace Prices
    # Extracting the numerical value from the price string, increasing it by 10%, 
    # and then formatting it back to the price format
    updated_price = round(float(price[1:].strip()) * 1.10)

    # Task 5: Display Results
    print(f"{name}:\n- Price: ${updated_price}\n- Made in: {origin}\n")

Product1:
- Price: $110
- Made in: China

Product2:
- Price: $220
- Made in: USA

Product3:
- Price: $165
- Made in: Germany

Product4:
- Price: $55
- Made in: India

## List Methods

When handling data, lists are commonly used. There are a number of list methods greatly helping with the process.

### Append and Insert

`.append` adds an element at the end of the list.

In [20]:
mylist = [20, 60, 500, 1200, 9000]
mylist.append(10) 
print(mylist)

[20, 60, 500, 1200, 9000, 10]

*(Tips)*: For string, which is immutable, the method doesn't change the object itself. But for list, the method does change the original list. So be careful and sometimes back up the data.
By the same reason, we cannot stack list methods.

A similar method `.insert` allows one to add element to a particular location.

In [21]:
mylist = [20, 60, 500, 1200, 9000]
mylist.insert(1, 10)
print(mylist)

[20, 10, 60, 500, 1200, 9000]

### Remove and Pop

Both methods remove an element from a string.

In [22]:
mylist = [20, 60, 500, 1200, 9000]
mylist.remove(500)
print(mylist)

[20, 60, 1200, 9000]

`.remove` asks you to specify the value of the element to remove. 
What happens if there are multiple such values? How do we remove all of them?

In [23]:
mylist = [500, 20, 60, 500, 1200, 500, 9000, 500]

for x in range(0, mylist.count(500)): 
    mylist.remove(500)
    
print(mylist)

[20, 60, 1200, 9000]

`.count` is another handy method that counts the occurrence of an element.

`.pop` asks you to specify the index of the element to be removed, like the flip side of `.insert`.

In [24]:
mylist = [10, 20, 60, 500, 1200, 9000]
y = mylist.pop(1) # store results from pop here
print(mylist)

[10, 60, 500, 1200, 9000]

### Index

We can use `.index` to find an element in a list and return the index.
Again, only the first one is returned.

In [28]:
mylist = [10, 20, 30, 40, 30, 50]
mylist.index(30)

2

In [26]:
?mylist.index

Signature: mylist.index(value, start=0, stop=9223372036854775807, /)
Docstring:
Return first index of value.

Raises ValueError if the value is not present.
Type:      builtin_function_or_method

*(Bonus Exercise)*: Write code to find the indices of **ALL** occurrences of a value in a list. Hint: using the second argument of `index()` allowing to start from a particular index.

In [34]:
indices = []
start = 0
while start < len(mylist):
    try:
        index = mylist.index(30, start)
        indices.append(index)
        start = index + 1
    except ValueError:
        break
print(indices)

[2, 4]

### Sorting

We can sort a list based on a criterion.
The most common one, if the list has only numerics, is to sort them from small to big, or vice versa.

In [ ]:
mylist = [9000, 20, 500, 60, 1200]
mylist.sort(reverse = True) # sorting
mylist
mylist.sort() # sorting
mylist

If you don't want to change the original list, you can use `sorted` instead of the list method.

In [36]:
mylist = [9000, 20, 500, 60, 1200]
sorted(mylist, reverse=True)
mylist

[9000, 1200, 500, 60, 20]

[9000, 20, 500, 60, 1200]

For lists of strings, there are multiple criteria, for example, by alphabetical order or length.

In [37]:
mylist = ['My', 'name', 'is', 'Bill']
mylist.sort()
mylist
sorted(mylist, key=str.lower, reverse = True)
sorted(mylist, key=len)

['Bill', 'My', 'is', 'name']

['name', 'My', 'is', 'Bill']

['My', 'is', 'Bill', 'name']

*(Exercise)*: **List Manipulation**. Start with a list: ['apple', 'banana', 'cherry']
- Add 'dragonfruit' to the list.
- Remove 'banana' from the list.
- Reverse the list.
- Sort the list alphabetically.
- Capitalize the first letters in the list.

### Dictionary Methods

For a dictionary, we have seen that `.keys()` or `.values()` give the set of keys or values.
They are in an uncommon wrapper, and we can use `list` to turn it into a list.

In [38]:
employees = {'Bob': 1234, 'Steve': 5678, 'Mike': 9012}
employees.keys()
list(employees.keys())
list(employees.items())

dict_keys(['Bob', 'Steve', 'Mike'])

['Bob', 'Steve', 'Mike']

[('Bob', 1234), ('Steve', 5678), ('Mike', 9012)]

We can use for loop to access the data stored in a dictionary.

In [39]:
for name, number in employees.items():
    print('Call', name, 'on', number)

Call Bob on 1234
Call Steve on 5678
Call Mike on 9012

The `update` method merges two dictionaries with the same keys, overwriting the old one.

In [40]:
# ?employees.update

d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)

print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)

print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

*(Exercise)*: Write a program that reverse a long string containing multiple words. That is, print back the same string, except with the words in backwards order. For example, say I type the string:
```python
x = `Today is Friday`
```
Then I would see the string:
```python
`Friday is Today`
```